* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  font-size: 14px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #006680;
}
body aside {
  display: grid;
  grid-template-columns: auto 40px;
  padding: 1.5em 2em;
}
body aside figure {
  display: inline-block;
  margin: 0;
  padding: 0;
}
body aside figure .avatar {
  display: none;
}
body aside figure figcaption {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
}
body aside #navbtn {
  width: auto;
  height: auto;
  outline: none;
  border: none;
  background-color: inherit;
  padding: 0;
  outline: 0;
}
body aside #navbtn img {
  width: 2.8em;
}
body aside nav {
  position: absolute;
  display: block;
  overflow: hidden;
  top: 4.798em;
  right: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  transition: height 0.4s;
  z-index: 5;
}
body aside nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #f2fcff;
}
body aside nav ul li {
  width: 100%;
  text-align: center;
  border-top: 1px solid #d5e0e3;
}
body aside nav ul li a {
  text-decoration: none;
  font-size: 1.4em;
  padding: 1em;
  font-weight: 500;
  display: block;
  color: black;
  cursor: pointer;
}
body aside nav ul :last-child a {
  border-bottom: 1px solid #d5e0e3;
}
body main {
  position: relative;
  transition: top 0.4s;
  top: 0;
  background-color: #fff;
  height: 85%;
  padding: 2em;
  text-align: center;
}
body main h1 {
  padding: 0;
  margin: 2em 0 1em 0;
  font-size: 1.5em;
  font-weight: 600;
}
body main #skillsh1 {
  margin-top: 5em;
}
body main p {
  text-align: justify;
  font-size: 1.1em;
  color: #5b5b5b;
  margin-bottom: 1.8em;
}
body main p a {
  text-decoration: none;
  color: #1061d9;
}
body main .sbcont {
  width: 100%;
}
body main .sbcont .skillbar {
  height: 100%;
  background-color: #cfcfcf;
  margin: 0.8em 0;
  text-align: center;
  text-transform: uppercase;
}
body main .sbcont .skillbar .skill {
  height: 1.3em;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  font-size: 0.7em;
  color: white;
  width: 0;
  border-radius: 5px;
  transition: width 1s;
}
body main .sbcont .skillbar #s-html {
  background-color: #f16529;
}
body main .sbcont .skillbar #s-css {
  background-color: #1572b6;
}
body main .sbcont .skillbar #s-js {
  background-color: #f6c119;
}
body main .sbcont .skillbar #s-rc {
  background-color: #5ed4f4;
}
body main .sbcont .skillbar #s-jq {
  background-color: #0169af;
}
body main .sbcont .skillbar #s-git {
  background-color: #5ab859;
}
body main .sbcont .skillbar #s-jsaj {
  background-color: #1D7874;
}
body main .sbcont .skillbar #s-bs {
  background-color: #5a294e;
}

@media screen and (min-width: 800px) {
  body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006680+1,ff00ee+100,7db9e8+100 */
    background: #006680;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #006680 1%, #ff00ee 100%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #006680 1%, #ff00ee 100%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #006680 1%, #ff00ee 100%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#006680", endColorstr="#7db9e8",GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 18px !important;
    margin: 2.5em;
    height: calc(100% - 5em);
    display: grid;
    grid-template-columns: 20% auto;
  }
  body aside {
    padding: 0;
    display: block;
    background-color: #dad6ff;
  }
  body aside figure {
    text-align: center;
    display: block;
    height: auto;
    width: auto;
    margin: 2em 0 2em 0;
  }
  body aside figure .avatar {
    display: block;
  }
  body aside figure .avatar img {
    height: 3.5em;
  }
  body aside figure figcaption {
    color: black;
    font-size: 1em;
  }
  body aside button {
    display: none;
  }
  body aside nav {
    margin: 0;
    margin-top: 3em;
    position: static;
    width: 100%;
    height: auto !important;
    display: block;
    background-color: #efefef;
    transition: none !important;
  }
  body aside nav ul {
    background-color: inherit;
  }
  body aside nav ul li {
    text-align: left;
    border: none;
  }
  body aside nav ul li a {
    border: none;
    background-color: inherit;
    font-size: 0.8em;
    padding-left: 2em;
  }
  body aside nav ul li a:hover {
    background-color: #1a76ff;
    color: white;
    transition: 0.3s;
  }
  body main {
    position: relative;
    top: 0 !important;
    transition: none !important;
    overflow: hidden;
    height: auto;
    text-align: left;
    padding: 0.9em 4em;
  }
  body main h1 {
    font-size: 1.6em;
    margin: 2em 0 0 0;
  }
  body main #skillsh1 {
    margin: 2em 0 0 0;
  }
  body main p {
    font-size: 0.9em;
    line-height: 1.5em;
  }
  body main .sbcont .skillbar .skill {
    margin: 0;
    border-radius: 0 5px 5px 0;
    text-align: right;
    padding-right: 1em;
  }
}

/*# sourceMappingURL=about_me.css.map */
